/** The Inter UI font */
@import url("https://rsms.me/inter/inter.css");

/** Common styles */
@import "./common/reset";
@import "./common/variables";
@import "./common/global";

/** Components */
@import "./components/buttons";
@import "./components/titles";
@import "./components/texts";
@import "./components/tables";
@import "./components/prism";
@import "./components/photo-grid";

/** Layouts */
@import "./layouts/header";
@import "./layouts/content";
@import "./layouts/footer";

/** Pages */
@import "./pages/home";
