{
  "root": true,

  "extends": [
    "airbnb"
  ],

  "env": {
    "browser": true,
    "node": true,
  },

  "rules": {
    "linebreak-style": 0,

    "class-methods-use-this": [2, { "exceptMethods": ["processPhoto"] }],

    "react/forbid-foreign-prop-types": 2,

    "jsx-a11y/click-events-have-key-events": 1,

    "react/no-did-mount-set-state": 0,

    "no-restricted-imports": 0,

    "react/jsx-one-expression-per-line": 1,

    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  },

  "settings": {
    "propWrapperFunctions": ["forbidExtraProps", "exact", "Object.freeze"],
  }
}
