{
  "root": true,
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "globalReturn": true,
      "generators": false,
      "objectLiteralDuplicateProperties": false,
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "plugins": [
    "import",
    "react",
    "jsx-a11y"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "overrides": [
    {
      "files": [
        "tests/**/*.js"
      ],
      "env": {
        "jest": true
      }
    }
  ],
  "rules": {
    "linebreak-style": 0,
    "class-methods-use-this": [2, { "exceptMethods": ["processPhoto"] }],
    "react/forbid-foreign-prop-types": 2,
    "jsx-a11y/click-events-have-key-events": 1,
    "jsx-a11y/anchor-is-valid": 0,
    "react/no-did-mount-set-state": 0,
    "no-restricted-imports": 0,
    "react/jsx-one-expression-per-line": 1,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/extensions": [2, "ignorePackages", {
      "js": "never",
      "jsx": "never",
      "ts": "never",
      "tsx": "never"
    }],
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    },
    "propWrapperFunctions": [
      "forbidExtraProps",
      "exact",
      "Object.freeze"
    ]
  }
}
