html {
  font-family: $font-family-sans-serif;
  line-height: 1.15;
}

body {
  margin: 0;
}

a {
  color: $link-color;
}

a:hover {
  color: $link-hover-color;
}

code {
  background: $code-background-color;
  font-family: $code-font-family;
  text-align: $code-text-align;
  font-weight: $code-font-weight;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: $code-line-height;
  tab-size: $code-tab-size;
  hyphens: none;
}

#root {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 700px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.intro {
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
}

.responsive-table {
  max-width: 100%;
  overflow-x: auto;
  margin-bottom: 2em;
}

.title + .text {
  margin-top: 0 !important;
}

.actions {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}

.button em {
  font-size: 70%;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.5;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  font-size: 15px;
  line-height: 1.45;
}

p code,
table code {
  padding: 0.35rem 0.75rem;
  color: #111111;
  background-color: rgba(0, 0, 0, 0.051);
  border-radius: 2px;
}

table th,
table td {
  padding: 0.85rem 2rem 0.85rem 0.5rem;
  vertical-align: top;
  border-width: 0;
}

table thead th {
  vertical-align: bottom;
}

table td {
  color: #666666;
}

table tbody tr:nth-child(odd) {
  background-color: rgb(245, 245, 245);
}

@media (max-width: 550px) {
  .actions {
    flex-direction: column;
  }

  .actions > div {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 10px 20px;
  }

  .actions .button {
    width: 100%;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .intro {
    padding-top: 10em;
    padding-bottom: 6em;
  }
}

@media (min-width: 1200px) {
  .intro {
    min-height: 500px;
    max-height: 50vh;
  }
}
