html {
  font-family: $font-family-sans-serif;
  line-height: 1.15;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: $link-color;
}

a:hover {
  color: $link-hover-color;
}

code {
  background: $code-background-color;
  font-family: $code-font-family;
  text-align: $code-text-align;
  font-weight: $code-font-weight;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: $code-line-height;
  tab-size: $code-tab-size;
  hyphens: none;

  &.data-type {
    background-color: #E6FFFA;
    color: #2F855A;
    padding: 0.35rem 0.82rem;
    font-weight: 400;
    border-radius: 10em;
  }
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.title + .text {
  margin-top: 0 !important;
}
