/** Colors */
$primary: #37a866;
$dark: #111111;

/** Common */
$body-color: $dark;

/** Typography */
$font-family-sans-serif: "Helvetica Neue", Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: "Fira Code", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

$line-height-base: 1.5;
$font-weight-normal: 400;

/** Links */
$link-color: $primary;
$link-hover-color: $body-color;

/** Code */
$code-font-family: $font-family-monospace;
$code-background-color: transparent;
$code-text-align: left;
$code-line-height: $line-height-base;
$code-tab-size: 2;
$code-font-weight: $font-weight-normal;
