/* Section component */
.section {
  font-size: 16px;
  padding-top: 5em;
  padding-bottom: 5em;
  line-height: 1.45;
}

.section .content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
}
