/* PhotoGrid component */
.grid-container {
  position: relative;
  overflow: hidden;
}

.grid {
  line-height: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 3px;
  padding-right: 3px;
}

.grid .column {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex: 0 0 12.5%;
  flex: 0 0 12.5%;
  max-width: 12.5%;
  padding-left: 3px;
  padding-right: 3px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.grid .column .picture {
  margin: 3px 0;
  cursor: pointer;
  max-width: 100%;
  height: auto !important;
  background-color: #ECECEE;
  overflow: hidden;
  position: relative;
}

.grid .column .picture:last-child {
  margin-bottom: 0;
}

.grid .column .picture.loading {
  cursor: default;
}

.grid .column .picture .bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition-delay: 0.82s;
  transition-delay: 0.82s;
  -webkit-transition: 0.75s ease all;
  transition: 0.75s ease all;
}

.grid .column .picture img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0;
  visibility: hidden;
}

.grid .column .picture.loading .bg,
.grid .column .picture.loading img {
  opacity: 0;
}

.grid .column .picture.loaded img {
  position: relative;
}

.grid .column .picture.loaded img,
.grid .column .picture.loaded .bg {
  opacity: 1;
  z-index: 0;
  -webkit-transition: 0.75s ease all;
  transition: 0.75s ease all;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.grid .column .picture.loaded:hover img,
.grid .column .picture.loaded:hover .bg {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.grid .column .picture.loaded::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  z-index: 1;
  -webkit-transition: 0.45s ease all;
  transition: 0.45s ease all;
}

.grid .column .picture.loaded:hover::before {
  opacity: 0.5;
}

@media (min-width: 1200px) {
  .grid-container {
    padding-bottom: 2em;
  }
}
