.footer {
  background-color: $footer-background;
  font-size: $footer-font-size;
  color: $footer-color;
  padding: $footer-padding;
  text-align: center;
  /** Sticky footer */
  margin-top: auto;

  a {
    background: none;
    color: $footer-link-color;

    &:hover {
      background: none;
    }
  }

  p {
    margin: 0 0 0.5rem;
  }

  .links {
    padding-top: 0.5em;

    a {
      display: inline-flex;
      margin: 0 0.35rem;
      font-weight: $font-weight-bold;
    }
  }
}
