.text {
  color: $text-color;
  font-size: $text-font-size;
  margin: $text-spacing;
  line-height: $text-line-height;

  &.text__inherit {
    font-size: inherit;
    line-height: inherit;
    margin-top: 0;
    color: inherit;
  }

  a {
    text-decoration: none;
    display: inline-flex;
    padding: $text-link-padding;
    background-color: $text-link-background;
    line-height: inherit;
    border-bottom: 1px solid;

    &:hover {
      background-color: $text-link-background-hover;
    }
  }
}
