.title {
  color: $heading-color;
  margin: $heading-spacing;
  line-height: $heading-line-height;
  font-weight: $heading-font-weight;

  &.title__h1 {
    font-size: $h1-font-size;
  }
  
  &.title__h2 {
    font-size: $h2-font-size;
  }
  
  &.title__h3 {
    font-size: $h3-font-size;
  }
  
  &.title__h4 {
    font-size: $h4-font-size;
  }
  
  &.title__h5 {
    font-size: $h5-font-size;
  }
  
  &.title__h6 {
    font-size: $h6-font-size;
  }
}
