/* Header component */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 100;
  box-shadow: 0 4px 12px rgba(0,0,0,.08), 0 0 1px rgba(1,0,0,.1);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.header .navigation {
  margin-left: auto;
  margin-right: auto;
}

.header .navigation .nav {
  width: 100%;
  display: -webkit-box;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
  -ms-flex-pack: center;
  justify-content: center;
}

.header .navigation .nav > li {
  padding-left: 10px;
  padding-right: 10px;
}

.header .navigation .nav > li > a {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  color: #999999;
}

.header .navigation .nav > li > a:hover {
  color: #111111;
}

.header .right {
  margin-left: auto;
  position: absolute;
  right: 0;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 650px) {
  .header {
    overflow-x: auto;
  }

  .header .navigation .nav > li {
    padding-left: 5px;
    padding-right: 5px;
  }

  .header .navigation .nav > li > a {
    font-size: 15px;
  }

  .header .right {
    display: none;
  }
}
