@import "tailwindcss";
@plugin "@tailwindcss/typography";

html {
  font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  @apply font-sans;
  @apply antialiased;
  @apply text-gray-900;
  @apply bg-gray-50;
}

.prose code::before,
.prose code::after {
  content: none;
  display: none;
}

.prose code {
  @apply bg-gray-100;
  @apply rounded-md;
  @apply border;
  @apply border-gray-300;
  @apply px-1;
  @apply py-px;
}

.prose h3 code {
  @apply bg-transparent;
  @apply rounded-none;
  @apply border-none;
  @apply p-0;
}
