/* Button component */
.button {
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 0 2px 1px rgba(0,0,0,.084);
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:focus,
.button:active {
  outline: none;
}

.button__block {
  display: block;
  width: 100%;
}

.button__default {
  display: block;
  height: 44px;
  padding: 0 19px;
  font-size: 15px;
  line-height: 41px;
}

.button_small {
  display: block;
  height: 30px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 28px;
}

.button__large {
  line-height: 1.6;
  height: 60px;
  padding: 14px 24px;
  font-size: 18px;
  border-width: 2px;
}

.button__primary {
  color: #fff;
  background-color: #111;
}

.button__primary:hover {
  background-color: #000;
}

.button__primary.button__outline {
  color: #111;
  background-color: #fff;
  border-color: #111;
}

.button__primary.button__outline:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.button__secondary {
  color: #fff;
  background-color: #3cb46e;
}

.button__secondary:hover {
  background-color: #37a866;
}
