/* Title component */
.title {
  color: var(--color);
  margin: 0 auto 16px;
}

.title__h1 {
  font-size: 44px;
  line-height: 1.2;
}

.title__h2 {
  font-size: 38px;
  line-height: 1.2;
}

.title__h3 {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
}

.title__h4 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  color: #666666;
}

.title__h5 {
  font-size: 20px;
  line-height: 1.2;
}

.title__h6 {
  font-size: 18px;
  line-height: 1.2;
}
